@import url('https://fonts.googleapis.com/css?family=Lexend');

body {
    background-color: black;
}

h1, p, button {
    color: white;
    font-family: 'Lexend', sans-serif;
}

.title {
    font-weight: medium;
    animation: fade_in 1s;
}

.name {
    display: inline;
    vertical-align: bottom;
}

.profile_pic {
    animation: fade_in 1.5s;
}

.landing_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100.0svh;
}

.social {
    background-color: black;
    border: none;
    box-shadow: none;
    animation: fade_up 2s;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}

.social:hover, .social:focus {
    background-color: rgb(32, 32, 32);
}

@media (min-aspect-ratio: 4/3) {

    .title {
        font-size: 10.0svh;
        margin-left: 5.0svh;
    }

    .name {
        height: 10.5svh;
        margin: 2.5svh;
        margin-bottom: 1.5svh;
        margin-left: 0.0svh;
    }

    .profile_pic {
        width: 80.0svh;
        margin-right: 5.0svh;
    }

    .landing_page {
        flex-direction: row;
    }

    .social {
        outline: 0.4svh solid rgb(32, 32, 32);
        font-size: 5.0svh;
        height: 8svh;
        width: 32svh;
        border-radius: 4svh;
        margin: 3svh;
    }

}

@media (max-aspect-ratio: 4/3) {

    .title {
        font-size: 10.0vw;
        margin-top: 0.0vw;
        text-align: center;
    }

    .name {
        height: 10.5vw;
        margin: 2.5vw;
        margin-bottom: 1.5vw;
        margin-left: 0.0vw;
    }

    .profile_pic {
        width: 80.0vw;
        margin: 0.0vw;
        margin-top: 2.5svh;
    }

    .landing_page {
        flex-direction: column;
    }

    .social {
        outline: 0.4vw solid rgb(32, 32, 32);
        font-size: 5.0vw;
        height: 8vw;
        width: 48vw;
        border-radius: 4vw;
        margin: 3vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }

}

@keyframes fade_in {
    from {
        opacity: 0;
        transform: translateY(-5.0svh) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0.0svh) scale(1.0);
    }
}

@keyframes fade_up {
    from {
        opacity: 0;
        transform: translateY(5.0svh) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0.0svh) scale(1.0);
    }
}